*{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(130deg, blue, purple);
    padding: 10px;
    text-align: center;
}

.weatherApp {
    width: 30%;
    margin: 80px auto;
    background: white;
    border-radius: 30px
}

.weatherApp h2 {
    margin-left: 30px; 
}

.weatherApp h3 {
    margin-left: 30px; 
}

.extra {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.locationInput {
    margin-left: 30px;
}

input {
    width: 200px;
}

.icon {
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}